RUST_LOG=cs2kz_api=debug,audit_log=trace,warn
LOG_DIR=./logs

KZ_API_IP=127.0.0.1
KZ_API_PORT=42069
KZ_API_PUBLIC_URL=http://127.0.0.1
KZ_API_COOKIE_DOMAIN=127.0.0.1
KZ_API_JWT_SECRET=Y3Nnby1rei1pcy1kZWFkLWJveXMK

DATABASE_PORT=8070
DATABASE_URL=mysql://schnose:csgo-kz-is-dead-boys@127.0.0.1:8070/cs2kz
